body {
  background-color: #333333;
}
body.skills {
  background-color: #333333;
  overflow: hidden;
}

p, ol {
  color: blue;
  font-size: 20px;
  margin-right: 110px;
  margin-left: 120px;
  /*background-color: #1100FF;*/
  background-color: black;
  padding-left: 30px;
}

#customer, #filing, #css, #publicSpeaking, #fcp {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

ol, p #customer, #filing, #css, #publicSpeaking, #fcp {
  overflow: hidden;
  max-width: 780px;
  text-align: center;
}

 td button {
  color: #1100FF;
}

div.slide-right {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100px;
}

div.slide-right p, ol {
  animation: slide-right 3s;
  overflow: hidden;
}
@keyframes slide-right{
  from {
    margin-left: 0%;
    width: 0%;
  }
  to {
    margin-left: 18%;
    width: 55vw;
  }
}
h1, h2 {
  text-align: center;
  font-weight: bold;
  color: blue;

}
table {
  border: 1px solid black;
  margin: auto;
}
th {
  text-align: center;
  margin: auto;
}
td {
  border: 1px solid black;
  margin: auto;
  width: auto;
  height: auto;
}
/*h1.stop {
  width: auto;
  text-align: center;
  margin: auto;
  background-color: #6B6363;
}*/
button.main {
  width: 178px;
  height: 50px;
  background-color: #6B6363;
  margin: auto;
  position:relative;
}
button.blank {
  color: #1100FF;
  background-color: white;
  border: none;
  margin: auto;
  width: auto;
}
form {
  margin-left: 130px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.information {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-right: 100px;
}
p.spacing {
  margin-top: 50px;
  margin-bottom: 80px;
}
p.extraSpacing {
  margin-top: 50px;
  margin-bottom: 500px;
}
h1.underneath {
  opacity: 0.3;
  position: absolute;
  font-size: 13vw;
  margin-left: 200px;
  margin-top: auto;
  font-size: auto;
  margin-bottom: auto;
  margin-right: auto;
  color: red;
  transform:rotate(356deg);
}
h1.normal {
  /*opacity: 0.4;*/
  /*position: absolute;*/
  font-size: 200px;
  margin: auto;
  text-align: center;
  color: red;
  /*transform:rotate(350deg);*/
}
/*h3 {
  float: left;
}*/
.quali {
  padding-bottom: 100px;
}
.sizing {
  /*font-size: 100px;*/
  font-size: 7vw;
}
.sizingP {
  font-size: 50px;
}
.sizingEx {
  /*font-size: 100px;*/
  font-size: 7vw;
  margin-right: 11vw;
  margin-left: 4vw;
}
li.experience {
  /*font-size: 30px;*/
  font-size: 2vw;
  /*margin-left: 100px;*/
  margin-left: 12vw;
}
li.specific {
  /*margin-left: 200px;*/
  margin-left: 17vw;
  /*font-size: 30px;*/
  font-size: 2vw;
}
.background {
  position: fixed;
  z-index: -1;
  width: 1350px;
  height: 630px;
  /*max-height: 800px;*/
}
.all {
  display: inline-block;
  margin-bottom: 100px;
  opacity: 0.5;
  color: red;
  font-weight: bold;
  background-color: white;
  margin-right: auto;
}
.left {
  float: left;
  margin-left: 20px;
}
.right {
  float: right;
  margin-left: 2vw;
  padding-right: 20px;
  margin-right: auto;
}
