body {
  background-color: #333333;
  background-image: url("Assets/avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body.skills {
  background-color: #333333;
  overflow: hidden;
}

p, ol {
  color: pink;
  font-size: 20px;
  margin-right: 130px;
  margin-left: 110px;
  /*background-color: #1100FF;*/
  background-color: blue;
  padding-left: 30px;
}

#customer, #filing, #css, #publicSpeaking, #fcp {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

ol, p #customer, #filing, #css, #publicSpeaking, #fcp {
  overflow: hidden;
  max-width: 200px;
}

 td button {
  color: #1100FF;
}

div.slide-right {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100px;
}

div.slide-right p, ol {
  animation: slide-right 2s;
  overflow: hidden;

}
@keyframes slide-right{
  from {
    margin-left: 0%;
    width: 0%;
  }
  to {
    margin-left: 41%;
    width: 100%;
  }
}
h1, h2 {
  text-align: center;
  font-weight: bold;
  color: #1100FF;

}
table {
  border: 1px solid black;
  margin: auto;
}
th {
  text-align: center;
  margin: auto;
}
td {
  border: 1px solid black;
  margin: auto;
  width: auto;
  height: auto;
}
/*h1.stop {
  width: auto;
  text-align: center;
  margin: auto;
  background-color: #6B6363;
}*/
button.main {
  width: 178px;
  height: 50px;
  background-color: #6B6363;
  margin: auto;
  position:relative;
}
button.blank {
  color: #1100FF;
  background-color: white;
  border: none;
  margin: auto;
  width: auto;
}
form {
  margin-left: 130px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.information {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-right: 100px;
}
p.spacing {
  margin-top: 50px;
  margin-bottom: 100px;
}
h1.underneath {
  opacity: 0.4;
  position: absolute;
  font-size: 175px;
  margin-left: 190px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  color: red;
  transform:rotate(354deg);
}
h1.normalUnderneath {
  opacity: 0.4;
  /*position: absolute;*/
  font-size: 200px;
  margin-right: auto;
  text-align: center;
  color: red;
  /*transform:rotate(350deg);*/
}
